global
    log stdout format raw local0
    maxconn 4000

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option redispatch
    retries 2
    timeout connect 5s
    timeout client 120s
    timeout server 120s
    timeout http-request 15s
    timeout queue 20s

frontend fe_anonimizador
    bind *:80
    acl is_admin path_beg /admin
    use_backend be_anonimizador_admin if is_admin
    default_backend be_anonimizador

backend be_anonimizador
    balance leastconn
    option httpchk GET /ready
    http-check expect status 200

    server a1 127.0.0.1:5001 check inter 2s fall 2 rise 2 maxconn 25
    server a2 127.0.0.1:5002 check inter 2s fall 2 rise 2 maxconn 25
    server a3 127.0.0.1:5003 check inter 2s fall 2 rise 2 maxconn 25
    server a4 127.0.0.1:5004 check inter 2s fall 2 rise 2 maxconn 25
    server a5 127.0.0.1:5005 check inter 2s fall 2 rise 2 maxconn 25

    # Opcionales (descomentá al habilitar web6..web10)
    # server a6 127.0.0.1:5006 check inter 2s fall 2 rise 2 maxconn 25
    # server a7 127.0.0.1:5007 check inter 2s fall 2 rise 2 maxconn 25
    # server a8 127.0.0.1:5008 check inter 2s fall 2 rise 2 maxconn 25
    # server a9 127.0.0.1:5009 check inter 2s fall 2 rise 2 maxconn 25
    # server a10 127.0.0.1:5010 check inter 2s fall 2 rise 2 maxconn 25

backend be_anonimizador_admin
    balance roundrobin
    cookie SRV insert indirect nocache
    option httpchk GET /ready
    http-check expect status 200

    server a1 127.0.0.1:5001 check cookie a1
    server a2 127.0.0.1:5002 check cookie a2
    server a3 127.0.0.1:5003 check cookie a3
    server a4 127.0.0.1:5004 check cookie a4
    server a5 127.0.0.1:5005 check cookie a5

    # Opcionales
    # server a6 127.0.0.1:5006 check cookie a6
    # server a7 127.0.0.1:5007 check cookie a7
    # server a8 127.0.0.1:5008 check cookie a8
    # server a9 127.0.0.1:5009 check cookie a9
    # server a10 127.0.0.1:5010 check cookie a10

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
